<div class="guesses">    
    <span class="word" *ngFor="let guess of previousGuesses; let j = index">
        <div class="" *ngFor="let char of numbers; let i = index">
            <div class="guess-char" [ngClass]="getStatusClass(previousResults[j][i])" *ngIf="guess[i]">{{guess[i]}}</div>
        </div>
    </span>
    <div class="word">
        <div *ngFor="let char of numbers; let i = index">
            <div class="guess-char" *ngIf="currentGuess[i]">{{currentGuess[i]}}</div>
        </div>
    </div>
</div>
<div class="keyboard">
    <keyboard (keyboardEvent)="onScreenKeyboardEvent($event);"></keyboard>
</div>
