<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>wordmind</span> 
      <span class="spacer"></span>
      <button class="mdc-button" style="float:right;" (click)="newGameClick()">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label" style="color:white;">New Game</span>
      </button>
    </mat-toolbar>
    <div class="container">
      <guesses [newGame]="gameChange"></guesses>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
